body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNpZ251cCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header h1 {
  color: white;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  background-color: #555;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#container {
  background-color: #ffffff22;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
}

.container-sign-up {
  text-align: center;
}

h1 {
  color: #333;
}

label {
  display: block;
  margin: 1rem 0 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

p {
  margin-top: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  #container {
    width: 100%;
  }

  main {
    padding: 0 1rem;
  }
}

/*.container {
  display: grid;
  gap: 5px;
  margin: 14px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
*/
